/* Add sass here for it to be loaded in every page */
@import "../bootstrap-4.1.3/scss/bootstrap";


h1.variableHeader {
	font-size: 2em;
	font-weight: 700;
}
@include media-breakpoint-up(sm) {
	h1.variableHeader {
		font-size: 3.5em;
	}
}
@include media-breakpoint-up(md) {
	h1.variableHeader {
		font-size: 4.25em;
	}
}
h3.variableHeader {
	font-size: 1.8em;
}
@include media-breakpoint-up(sm) {
	h3.variableHeader {
		font-size: 2.2em;
	}
}
@include media-breakpoint-up(md) {
	h3.variableHeader {
		font-size: 2.7em;
	}
}
.divider {
	padding-right: 10vw;
	padding-left: 10vw;
}
.max-width {
	height: auto;
	width: 100%;
}

.semi-t-rect {
		background-color: rgba($white, 0.5);
		border-radius: 1vw;
	}
@include media-breakpoint-down(xs) {
	.semi-t-rect {
		background-color: rgba($white, 0.5);
		border-radius: 0px;
		display:flex;
		justify-content:center;
		align-items:center;
		height: 100%;
		width:100%;
		//box-shadow: 0 0 100px 100px $black;
	}
}

@include media-breakpoint-up(lg) {
	#overlayCarousel {
    top:25% !important; 
	}
}

.bg-light-t {
	$transparency : 1;
	background-color: rgba($light, $transparency);
	@include media-breakpoint-up(md) {
		box-shadow: 0 0 4vw 4vw rgba($light, $transparency);
		$marginAmount : 8vw;
		margin-right: $marginAmount;
		margin-left: $marginAmount;
		margin-bottom:$marginAmount;
	}

	
}

a.lowkey{
	color: $dark;
}

.bg-gradient {
		background-image: linear-gradient(to bottom right, $dblue, $lblue);
}
body {
		font-family: 'Open Sans', sans-serif;
		padding-top: 56px;
}

#mainCarousel {
	position: relative;
	display: flex;
	justify-content:center;
	align-items:center;
}

#innerCarousel {
	z-index: 0;
}

#overlayCarousel {
    position: absolute;
    z-index: 10;
}

