{% extends "base_generic.html" %}

{% block heading %}
{% load static %}
<div class="row">
	<div id="mainCarousel" class="carousel slide" data-ride="carousel" data-interval="5000">
		<div id="innerCarousel" class="carousel-inner">
			<div class="carousel-item active">
				<picture>
					<source media="(min-width: 768px)" srcset="{% static "carousel/1-768x360.jpg" %}">
					<source media="(min-width: 1024px)" srcset="{% static "carousel/1-1024x480.jpg" %}">
					<source media="(min-width: 1536px)" srcset="{% static "carousel/1-1536x720.jpg" %}">
					<img class="d-block w-100" src="{% static "carousel/1-2048x960.jpg" %}" alt="first image">
				</picture>
			</div>
			<div class="carousel-item">
				<picture>
					<source media="(min-width: 768px)" srcset="{% static "carousel/2-768x360.jpg" %}">
					<source media="(min-width: 1024px)" srcset="{% static "carousel/2-1024x480.jpg" %}">
					<source media="(min-width: 1536px)" srcset="{% static "carousel/2-1536x720.jpg" %}">
					<source media="(min-width: 2048px)" srcset="{% static "carousel/2-2048x960.jpg" %}">
					<img class="d-block w-100" src="{% static "carousel/2-3072x1440.jpg.jpg" %}" alt="second image">
				</picture>
			</div>
			<div class="carousel-item">
				<picture>
					<source media="(min-width: 768px)" srcset="{% static "carousel/3-768x360.jpg" %}">
					<source media="(min-width: 1024px)" srcset="{% static "carousel/3-1024x480.jpg" %}">
					<source media="(min-width: 1536px)" srcset="{% static "carousel/3-1536x720.jpg" %}">
					<source media="(min-width: 2048px)" srcset="{% static "carousel/3-2048x960.jpg" %}">
					<source media="(min-width: 3072px)" srcset="{% static "carousel/3-3072x1440.jpg" %}">
					<img class="d-block w-100" src="{% static "carousel/3-5184x2430.jpg" %}" alt="third image">
				</picture>
			</div>
		</div>
		<div id="overlayCarousel" class="semi-t-rect flexBoxCenter">
			<div><!--wrapper for flexbox to work -->
				<div class="extra-bold text-center py-sm-1 py-md-2 px-sm-4 pt-1">
					<h1 class="variableHeader">Amy Hochkammer for School Board</h1>
				</div>
				<div class="text-center px-3 py-sm-1 pb-1 py-md-2">
					<p>
						The right choice for the BPS Board of Education.
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock heading %}