{% extends "base_slideshow.html" %}


{% block body %} 
{% load static %}
<div class="row">
	<div class="bg-primary col">
		<p>
			This is the first paragraph in the column.
		</p>
		<p>
			This is the second
		</p>
		<p>
			This is the third
		</p>
		<p>
			This is the fourth
		</p>
	</div>
	<div class="bg-success col">
		<p>
			This is another column.
		</p>
	</div>
	<div class="bg-primary col">
		<p>
			This is another column.
		</p>
	</div>
</div>

{% endblock body %}