{% extends "base_slideshow.html" %}


{% block body %} 
{% load static %}
<div class="px-5 pt-4 bg-light-t row">
	
	<!-- begin block -->
	<div id="plan">
		<div class="row">
			<div class="col">
				<h3 class="text-center variableHeader">
					Amy's Best for BPS
				</h3>
			</div>
		</div>
		<div class="row">
			<div class="col-md-7 col-lg-8 col-xl-9">
				<ol>
					<li><h5><a class="js-scroll-trigger lowkey" href="#fiscal"> Fiscal Responsibility</a></h5></li>
					<li><h5><a class="js-scroll-trigger lowkey" href="#fiscal">Improve Curriculum Review Process</a></h5></li>
					<li><h5><a class="js-scroll-trigger lowkey" href="#plan">Be Transparent at All Times</a></h5></li>
					<li><h5><a class="js-scroll-trigger lowkey" href="#plan">Revise Emergency Plans at the Building Level</a></h5></li>
					<li><h5><a class="js-scroll-trigger lowkey" href="#transparency">Improve College and Career Counseling Services</a></h5></li>
				</ol>
			</div>
			<div class="col-md-5 col-lg-4 col-xl-3">
				<img src="{% static "kids.jpg" %}" alt="" class="max-width">
			</div>
		</div>
		<div class="py-2 divider">
			<img src="{% static "separator.png" %}" alt="" class="img-fluid">
		</div>
	</div> 
	<!-- end block -->

	<!-- begin block -->
	<div id="fiscal">
		<div class="row">
			<div class="col-md">
				<div class="row">
						<div class="col">
							<h4 class="text-center variableHeader">
								Mandate Fiscal Responsibility 
							</h4>
						</div>
					</div>
					<div class="row">
						<div class="col">
								I would ensure that the board approves a balanced budget and I would pledge to hold administration accountable to that budget, thereby minimizing fiscal year-end deficits.
						</div>
					</div>
			</div>
			<div class="col-md">
				<div class="row">
						<div class="col">
							<h4 class="text-center variableHeader">
								Improve Curriculum Review Process 
							</h4>
						</div>
					</div>
					<div class="row">
						<div class="col">
								I would request that all curriculum changes be researched thoroughly and beta tested in multiple settings prior to being rolled out.  In addition, any curriculum changes adopted need to be in alignment with the goals of the district strategic plan.
						</div>
					</div>
			</div>
		</div>
		<div class="py-2 divider">
			<img src="{% static "separator.png" %}" alt="" class="img-fluid">
		</div>
			
	</div> 
	<!-- end block -->

	<!-- begin block -->
	<div id="plan">
			<div class="row">
				<div class="col-md">
					<div class="row">
							<div class="col">
								<h4 class="text-center variableHeader">
									Be Transparent at All Times
								</h4>
							</div>
						</div>
						<div class="row">
							<div class="col">
									I would work with the board and the district to re-establish trust and transparency with their constituents.  Administration needs to be clear and honest in all communications with stakeholders and there should be timely notification about any and all situations that involve students, staff or parents.
							</div>
						</div>
				</div>
				<div class="col-md">
					<div class="row">
							<div class="col">
								<h4 class="text-center variableHeader">
									Revise Emergency Plans at the Building Level
								</h4>
							</div>
						</div>
						<div class="row">
							<div class="col">
									I would research and adopt emergency plans that are age and building specific to ensure that students, staff and parents believe in the safety of our public schools.
							</div>
						</div>
				</div>
			</div>
			<div class="py-2 divider">
				<img src="{% static "separator.png" %}" alt="" class="img-fluid">
			</div>
				
		</div> 
		<!-- end block -->

	<!-- begin block -->
	<div id="transparency">
		<div class="row">
			<div class="col-lg-4 col-xl-4 d-none d-lg-inline">
				<img src="{% static "parade.jpg" %}" alt="" class="img-fluid">
			</div>
			<div class="col-md col-lg-4 col-xl-4">
				<div class="row">
						<div class="col">
							<h4 class="text-center variableHeader">
								Improve College and Career Counseling Services
							</h4>
						</div>
					</div>
					<div class="row">
						<div class="col">
								Provide quality standardized test preparation and college and career coaching for ALL students within the BPS community. Hire full-time college and career counselors at the high schools.
						</div>
					</div>
			</div>
			<div class="col-lg-4 col-xl-4 d-none d-lg-inline">
				<img src="{% static "sign.jpg" %}" alt="" class="img-fluid">
			</div>
		</div>
		<div class="py-2 divider">
			<img src="{% static "separator.png" %}" alt="" class="img-fluid">
		</div>
			
	</div> 
	<!-- end block -->


	<!-- begin block -->
	<div id="about">
		<div class="row">
			<div class="col">
				<h3 class="text-center variableHeader">
					About Me
				</h3>
			</div>
		</div>
		<div class="row">
			<div class="col-md-5 col-lg-4 col-xl-3">
				<img src="{% static "amy.jpg" %}" alt="" class="img-fluid">
			</div>
			<div class="col-md-7 col-lg-8 col-xl-9 text-justify">
				<p>
						I am a product of Birmingham Public Schools, having graduated from Groves High School in 1987.  After college, I returned to Birmingham with my husband, Karl, who is a Seaholm High School graduate.  I have lived in this community for the last 22 years.  My daughter graduated from Seaholm High School in 2018 and my son is currently a sophomore there.  I am a committed volunteer who has served in various capacities on several community and BPS boards:
				</p>
				<ul>
					<li>
							President – BPS PTA Council (2017-2018)
					</li>
					<li>
							President – Seaholm High School PTA (2015-2017)
					</li>
					<li>
							Co-President  - Seaholm Offers Support – SOS  (2017-Present)
					</li>
					<li>
							Strategic Plan Implementation Focus Group – (2014-2015)
					</li>
					<li>
							Legislative Chair – Derby Middle School PTA (2013-2014)
					</li>
					<li>
							BPS Education Council – Parent Representative (2013 – 2015)
					</li>
					<li>
							Producer – Derby Middle School Musical (2012 – 2014)
					</li>
					<li>
							Chair – Birmingham Family YMCA Board of Managers (2013-2014)
					</li>
					<li>
							Member – Birmingham Family YMCA Board of Managers (2007-Present)
					</li>
					<li>
							Treasurer – Junior League of Birmingham (2006-2007)
					</li>
					<li>
							Member – Junior League of Birmingham (1997- 2008)
					</li>
				</ul>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<p>
						I believe my vast experience as a volunteer and community board member gives me unique insight into the values that are present in our wonderful community.  It is my goal to continue to promote those values within Birmingham Public Schools by serving on the Board of Education.
				</p>
			</div>
		</div>
		<div class="py-2 divider">
			<img src="{% static "separator.png" %}" alt="" class="img-fluid">
		</div>
	</div> 
	<!-- end block -->

	<!-- begin block -->
	<div id="pictures" class="d-none d-lg-inline">
		<div class="row">
			<div class="col-md">
				<img src="{% static "graduation.jpg" %}" alt="" class="img-fluid">
			</div>
			<div class="col-md">
				<img src="{% static "givingAward.jpg" %}" alt="" class="img-fluid">
			</div>
			<div class="col-md">
				<img src="{% static "family.jpg" %}" alt="" class="img-fluid">
			</div>
			<div class="col-md">
				<img src="{% static "sunset.jpg" %}" alt="" class="img-fluid">
			</div>
		</div>
		<div class="py-2 divider">
			<img src="{% static "separator.png" %}" alt="" class="img-fluid">
		</div>
	</div> 
	<!-- end block -->

	
	
	<!-- begin block -->
	<div id="placeholder">
			<div class="row">
				<div class="col text-justify">
					Contact: amyforbps@gmail.com
				</div>
			</div>
		</div> 
		<!-- end block -->

</div>





{% endblock body %}