{% extends "base_slideshow.html" %}


{% block body %} 
{% load static %}
<div class="px-5 py-4 bg-light-t row">
	
	<!-- begin block -->
	<div id="plan">
		<div class="row">
			<div class="col">
				<h3 class="text-center variableHeader">
					Our Plan
				</h3>
			</div>
		</div>
		<div class="row">
			<div class="col-md-8 col-lg-9 col-xl-10">
				<ol>
					<li>Approve a budget that minimizes the need for “borrowing” from the general fund.</li>
					<li>Ensure that proposed curriculum changes are researched thoroughly, communicated early, and are in alignment with the district strategic plan.</li>
					<li>Improve district communication procedures so that parents receive critical information in a timely manner.</li>
					<li>Target emergency plan policies to be age and building specific to ensure that students, staff and parents believe in the safety of our public schools.</li>
					<li>Provide quality standardized test preparation and college coaching for under-served students within the BPS community.</li>
				</ol>
			</div>
			<div class="col-md-4 col-lg-3 col-xl-2">
				<img src="{% static "placeholder.jpg" %}" alt="" class="max-width">
			</div>
		</div>
		<div class="py-2 divider">
			<img src="{% static "separator.png" %}" alt="" class="img-fluid">
		</div>
	</div> 
	<!-- end block -->

	<!-- begin block -->
	<div id="about">
		<div class="row">
			<div class="col">
				<h3 class="text-center variableHeader">
					About Amy
				</h3>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 col-lg-3 col-xl-2">
				<img src="{% static "placeholder.jpg" %}" alt="" class="img-fluid">
			</div>
			<div class="col-md-8 col-lg-9 col-xl-10 text-justify">
				Amy Hochkammer is a proud graduate of Birmingham Groves High Schools.  After leaving the area to attend college and work, she returned to Michigan and has now lived in Birmingham for more than 20 years.  Her children have attended Birmingham Public Schools for the last 13 years.  She is a dedicated community volunteer who has served in many volunteer roles including as President of the BPS PTA Council (2017-18), Chair of the Birmingham Family YMCA Board of Managers (2013-2014) and Treasurer for the Junior League of Birmingham (need to confirm this year).   
			</div>
		</div>
		<div class="py-2 divider">
			<img src="{% static "separator.png" %}" alt="" class="img-fluid">
		</div>
	</div> 
	<!-- end block -->

	<!-- begin block -->
	<div id="pictures">
		<div class="row">
			<div class="col">
				<h3 class="text-center variableHeader">
					Possibly some pictures here
				</h3>
			</div>
		</div>
		<div class="row">
			<div class="col-md">
				<img src="{% static "placeholder.jpg" %}" alt="" class="img-fluid">
			</div>
			<div class="col-md">
				<img src="{% static "placeholder.jpg" %}" alt="" class="img-fluid">
			</div>
			<div class="col-md">
				<img src="{% static "placeholder.jpg" %}" alt="" class="img-fluid">
			</div>
			<div class="col-md">
				<img src="{% static "placeholder.jpg" %}" alt="" class="img-fluid">
			</div>
		</div>
		<div class="py-2 divider">
			<img src="{% static "separator.png" %}" alt="" class="img-fluid">
		</div>
	</div> 
	<!-- end block -->

	<!-- begin block -->
	<div id="placeholder">
		<div class="row">
			<div class="col">
				<h3 class="text-center variableHeader">
					Another placeholder
				</h3>
			</div>
		</div>
		<div class="row">
			<div class="col text-justify">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			</div>
		</div>
	</div> 
	<!-- end block -->

</div>





{% endblock body %}